<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<style>
  body {
    color: black;
  }

  .container {
    margin-top: 10px;
    background-image: url("table_cloth.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
  }

  td {
    width: 10px;
  }

  thead {
    background-color: black;
    color: white;
    font-weight: bold;
  }

  table {
    text-align: center;
    background-color: rgba(230, 225, 225, 0.4);
  }

</style>

<div class="container">
  <br>
<h2 style="text-align:center">🍔 Burger App 🍔</h2>

<div class="row">

<div class="col-sm-8">
<div class="menu"> 
  <br>
<h3> Menu </h3>

<table class="table">
  <thead>
    <tr>
      <td> ID </td>
      <td> Burger Name </td>
      <td> Click To Devour </td>
    </tr>
  </thead>
  <tbody>
    {{#each burger}}
      {{#unless devoured}}
    <tr>
      <td>
        {{this.id}}
      </td>
      <td>
        {{this.burger}}
      </td>
      <td>
        <button data-burgerid="{{this.id}}" class="btn btn-warning btn-sm" type="devoured" name="devoured">Devour It!</button>
      </td>
    </tr>
    {{/unless}}
    {{/each}}
  </tbody>
</table>

</div>
</div>

<div class="col-sm-4">
<div class="devoured">
  <br>
<h3> Devoured! </h3>
<table class="table">
  <tbody>
    {{#each burger}}
    {{#if devoured}}
    <tr>
      <td>
        {{this.id}}. {{this.burger}}
      </td>
    </tr>
    {{/if}}
    {{/each}}
  </tbody>
</table>
</div>
</div>
</div>

<br>
<div class="row">

<div class="col-sm-8">
  <form class="create-form">
    <div class="form-group">
      <h3>Add A Burger <button type="submit" class="submit btn btn-success btn-sm">Save!</button> </h3>
      <label for="bur"> Burger Name:</label>
      <input type="text" id="bur" name="burger">
    </div>

  </form>
  </form>

</div>

</div>

</div>
